@page
@model CompanyEmployees.IDP.Pages.Account.ErrorModel

<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">An error occurred while processing your request.</h3>
<a href="@Model.ReturnUrl">click here navigate to the Home page</a>.
