@page
@model CompanyEmployees.IDP.Pages.Account.ResetPassword.ResetPasswordConfirmationModel

<h2>ResetPasswordConfirmation</h2>

<p>
    Your password has been reset. Please
    <a asp-page="/Account/Login/Index" asp-route-returnUrl="@Model.ReturnUrl">click here to log in</a>.
</p>
