@page
@model CompanyEmployees.IDP.Pages.Account.Register.ConfirmEmailModel

<h2>ConfirmEmail</h2>

<p>
    Thank you for confirming your email. Please
    <a href="@Model.ReturnUrl">click here to navigate to the Home page </a>.
</p>

